body{
    background-color: rgb(190, 224, 224);
}

.feedback {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.feedback.visible {
    opacity: 1;
    transform: translateY(0);
}

